
.flat-details-cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .container{
        margin: 20px;
    }

    .flat{
        height: fit-content;
        width: 70%;

        #basic{
            svg{
                color: $primary-blue;
                font-size: 12.5px;
            }
            padding: 20px;

            h4{
                margin: 0;
            }
            .vacant{
                color: $text-color-dark-active;
                font-size: 11px;
                font-weight: 700;
                background-color: red;
                border-radius: 3px;
                padding: 3px;
                text-transform: uppercase;
                margin-left: 15px ;
                font-family: 'Montserrat' !important;
            }
            .occupied{
                color: $text-color-dark-active;
                font-size: 11px;
                font-weight: 700;
                background-color: $primary-green;
                border-radius: 3px;
                padding: 3px;
                text-transform: uppercase;
                margin-left: 15px ;
                font-family: $font-main !important;
            }

            .room{
                width: 100%;
                margin: 20px auto;
                display: flex;
                align-items: center;
                padding: 10px;
                border: 1px solid rgba($color: #000000, $alpha: 0.1);
                border-radius: 5px;

                .col-3{
                    margin: 0 !important;
                    border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    span{
                        font-weight: bold;
                    }

                    p{
                        margin: 0;
                    }

                    &:last-child{
                        border-color: transparent;
                    }
                }
            }

            .lower{
                margin: 20px auto;
                .col-4{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    p{
                        font-weight: bold;
                        padding-left: 15px;
                    }
                }
            }

            .note{
                margin: 30px 0 30px 0;
                p{
                    padding-right: 30px;
                }
            }
        }

        #info, #info-period{
            padding: 15px;

            #tenant-info{
                margin: 20px 0;
            }

            h5{
                margin-bottom: 15px;
            }

            span{
                font-weight: bold;
            }

            h6{
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 15px;
            }

            #tName{
                margin-bottom: 0px !important;
            }

            .period{
                margin-bottom: 15px;
                min-height: 45vh;
                .name, .tPeriod{
                    margin: 0 !important;
                }
            }

        }

    }

    .aside{
        width: 25%;
        height: fit-content;
        position: sticky;
        top: 35px;

        .aside-sectn{
            margin-bottom: 30px;
            padding: 15px;
            p{
                font-weight: bold;
            }
        }

        #edit{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        #rel-flats{
            margin-top: 15px;
            .side-link{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0;

                .no{
                    background-color: #c6c6c6;
                    border-radius: 50%;
                    padding: 10px 6px;
                    font-size: 11px;
                    color: $text-color-dark-active;
                    margin: 0 10px 0 0;
                }
            
                a{
                    margin: 0 !important;
                    display: block;
                    text-decoration: none;
                    color: $text-color;

                    p, span{
                        margin: 0;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}



//////////////////////////////////////////////////////
/////////////////////////////FORM/////////////////////
////////////////////////////////////////////////////

#edit-form{
    height: fit-content;
    width: 70%;
    padding: 20px;

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    }

    .date{
        padding-top: 5px ;
        padding-bottom: 5px;
    }

    .row{
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        margin: 10px 10px 20px;
        padding: 10px 0 50px;
    }

    .btn{
        padding: 10px 30px;
        position: relative;
        right: -10px;
    }
}

#create-form{
    height: fit-content;
    width: 100%;
    padding: 20px;
    margin: 0 auto !important;

    .date1{
        padding-top: 0px ;
        padding-bottom: 0px;
        margin: 0;
    }

    .row{
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        margin: 10px 10px 20px;
        padding: 10px 0 50px;
    }

    .btn{
        padding: 10px 30px;
        position: relative;
        right: -10px;
    }
}


.new-form-flat{
    width: 70%;
    height: 100%;
    background-color: $background-white;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        padding: 15px;

        .close{
            &:focus, &:active{
                outline-color: $primary-blue;
            }
        }
    }

    div{
        padding: 15px;
        margin: 0 !important;
        
        .add{
            margin-left: 15px;
        }
    }

    .rcs-custom-scroll, .rcs-outer-container, .rcs-positioning, .rcs-inner-container{
        margin: 0 !important;
        padding: 0 !important;
    }
}

