#inv{
    width: 100%;
    height: calc(100% - 66px);
    max-height: calc(100% - 66px);
    min-height: calc(100% - 66px);
    position: relative;
    padding: 0 !important;

    #modal{
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.2);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        #modal-cont{
            padding: 15px;
            display: flex;
            flex-direction: column;

            .btn{
                margin: 15px 0;
            }
        }

    }

    #inv-cont-inner{
        height: 100%;
        width: inherit;
        padding: 0;

        #padded{
            margin: 0 !important;
            padding: 20px 0;

            #form-cont{
                padding: 20px;
                margin-top: 20px;

                h4{
                    padding-bottom: 0 !important;
                    margin: 0 !important;
                }
                span{
                    font-size: 13px;
                }

                .row{
                    margin: 20px 0;
                }
            }
        }
    }
}