
#mainContainer, #mainContent{
    height: 100% !important;
    min-height: 100%;
    padding: 0;
    background-color: $background;
    width: 100%;
    margin: 0;

    .content-area{
        height: 100% !important;
        max-height: 100% !important;
        min-height: 100%;
        padding: 0;
        margin: 0 !important;
        position: relative;

        
    }

    .sidebar-area{
        height: 100% !important;
    }

    #min{
        max-width: 80px !important;
        width: 80px !important;
    }

    .max{
        min-width: calc(100% - 80px);
        width: calc(100% - 80px);
        height: 100% !important;
        max-height: 100% !important;
        min-height: 100%;
    }
    .body{
        height: calc(100% - 68px) !important;
        max-height: calc(100% - 68px) !important;
        position: relative;
        margin: 0;
        padding: 0 !important;
    }
}