@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "node_modules/bootstrap/scss/bootstrap";
@import "./variables.scss";
@import "./auth.scss";
@import "./components.scss";
@import "./main.scss";
@import "./budget.scss";
@import "./landTent.scss";
@import "./apartment.scss";
@import "./invoice.scss";

html,
body,
#__next,
.main{
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    min-height: 100%;
    font-family: $font-main;
    color: $text-color !important;
    background-color: $background;
}