#top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
    background-color: $background-white;
    box-shadow: 2px 2px 2px 2px rgba($color: #000000, $alpha: .1);
    position: relative;
    z-index: 10;

    #left{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        div{
            display: inline-flex;
            flex-direction: column;
            margin: 0 20px;

            span{
                font-size: 12px;
            }

            p{
                font-weight: bold;
                font-size: 1.5vw;
            }
        }

    }

    #right{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
}

#acct-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    margin: 0 !important;

    .acct-bal{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        padding: 20px 0;
        margin: 10px;
        cursor: pointer;
            
        .caret{
            width: 30px;
            height: 30px;
            background-color: rgba($color: #000000, $alpha: .1);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            right: -90px;
            top: -10px;
            margin: 0;

            a{
                text-decoration: none !important;
            
                svg{
                    color: $primary-green;
                }
            }
        }
        

        p{
            margin: 0 !important;
            color: $primary-green;
            font-size: 1.2vw;
        }

        h4{
            color: $primary-green;
            font-weight: bolder;
            font-size: 1.5vw;
        }
    }

    .active{
        background-color: $primary-green;
        h4, p{
            color: $text-color-dark-active;
        }
        
    }

}

#trans{

    //max-width: 1200px;
    padding: 0 60px 20px 60px;
    position: relative;
    
    #sect-head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        button{
            box-shadow: 2px 2px 2px 2px rgba($color: #000000, $alpha: .1);
            font-weight: bolder;

            svg{
                margin-left: 5px;
            }
        }
    }

    .h4{
        font-size: 15px;
        font-weight: bolder;
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .col-md-12{
        margin-bottom: 20px;
    }

    #recent-trans{
        padding: 20px;

        .trans-item{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 10px;
            width: 100%;

            .fLeft{
                display: flex;
                flex-direction: row;
                .trans-det{
                    display: flex;
                    flex-direction: column;
                    padding-left: 10px;
                    justify-content: center;
                    
                    p{
                        margin: 0;
                    }
                    span{
                        font-size: 12px;
                    }
                }
            }
            .debit{
                color: $support-red;
                text-align: right;
            } 
            .credit{
                color: $primary-green;
            }

            .cancelled{
                text-decoration: line-through;
            }
        }

    }

    #bar{
        padding: 20px;
    }

    #pie{
        padding: 20px 0;
    }

    #sum{
        padding: 20px;

        .sumDet{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 10px 0;

            .trans-det{
                display: flex;
                flex-direction: column;
                padding-left: 10px;
                justify-content: center;
                
                p{
                    margin: 0;
                }
                span{
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
    }


    a{
        font-size: 15px;
    }


    #trans-inner{
        margin-top: 30px;
        padding: 0 20px;
    }
}


#transactions{
    margin: 20px;
    padding: 20px;

    #header{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        

        h4{
            margin-right: 20px;
        }

        .date-sort, .filter{
            margin-right: 20px;
        }
    }

    /*.elevated{
        box-shadow: 2px 2px 2px 2px rgba($color: #000000, $alpha: .1);
        font-weight: bolder;
    
        svg{
            margin-left: 10px;
        }
    }*/
}

.sideByside{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px;

    .ant-picker{
        width: 50%;
        margin: 0 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .form-group{
        margin: 0 10px;
        width: 50%;
    }
}