$background: #f9f9f9;
$background-white: #ffffff;

$primary-green: #25D366;
$primary-green-shade: #21bd5b;

$primary-blue: #51cce3;


$text-color: #313639;
$text-color-light: #a9a9a9;
$text-color-dark-active: #ffffff;
$dark-theme-text-color: #ffffff;


$sidebar-color: #182027;
$support-red: #d9534f;

$font-main: 'Roboto', sans-serif;
$logo-size: 40px;




//////////////DARK THEME///////////
$dark-background: #f9f9f9;
$dark-background-darker: #ffffff;

$primary-green: #25D366;
$primary-green-shade: #21bd5b;

$primary-blue: #51cce3;